#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

button,
h2 span {
    text-transform: capitalize;
}

img {
    display: block;
    padding: 3px 3px 0 3px;
    filter: invert(100%);
    color: #fff;
    height: auto;
    margin: 0 auto;
}

sub {
    display: block;
    margin: 6px;
}